.custom-button {
  padding: 1rem;
  color: white;
  background-color: black;
  font-size: 1.2rem;
  opacity: 0.9;
  font-weight: 800;
  transition: 0.3s ease all;
  border: none;
  cursor: pointer;
}
.inverted {
  color: black;
  background-color: white;
}
.custom-button:hover {
  background-color: white;
  color: black;
  outline: none;
}
.inverted:hover {
  color: white;
  background-color: black;
}
.custom-button:disabled {
  cursor: default;
}
