.group {
  position: relative;
}
.placeholder_label {
position: absolute;
margin:1rem;
font-size:1.3rem;

}

input{
  margin:1rem;
    padding:1rem;
    width:100%;
    border:none;
    border-bottom:2px solid grey;
    transition: 0.3 ease;
}
input:focus{
outline:none;
}

input:focus + .placeholder_label {
transform:translateY(-50px);
font-size:1rem;
}
