.landing-page {
  width: calc(100vw - 3em);
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
}
.directory-menu {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
