.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1.5rem;
  position: relative;
  .logo-container {
    height: 100%;
    width: 70px;
    padding: 10px;
    text-decoration: none;
  }
  .cart-logo-container {
    width: 45px;
    height: 45px;
    margin: 10px;
    cursor: pointer;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      text-decoration: none;
      color: "black";
      cursor: pointer;
    }
  }
}
