.carousal_wrapper {
  overflow: hidden;
  position: relative;
}
.carousal_container {
  display: flex;
  width: calc(100vw - 2rem);
  transform: translateX(-100vw);
  transition: 1s ease all;
}
.slide_left {
  transition-duration: 1s;
  transform: translateX(0vw);
}
.slide_right {
  transition-duration: 1s;
  transform: translateX(-200vw);
}
.slide_once {
  transform: none;
  transition-duration: 1s;
}
.slider_img {
  min-width: 100vw;
  height: 90vh;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-color: lavender;
  }
}
.controller {
  position: absolute;
  z-index: 100;
  top: 50%;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 0.3em 0.5em;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  border: none;
}

.controller-left {
  right: 90%;
  color: #000;
}

.controller-right {
  left: 90%;
  color: #000;
}
