.footer-row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 0;
  background-color: #f1f1f1;
  justify-content: space-around;
  padding: 2rem 1rem;
  margin-top: 100px;
}

.footer-column {
  h2 {
    text-transform: uppercase;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
  a,
  a:visited {
    text-decoration: none;
    display: block;
    color: grey;
    transition: 0.3s color;
    &:hover {
      color: black;
    }
  }
}
